---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://vignette.wikia.nocookie.net/groland/images/0/01/Mougnan.png/revision/latest?cb=20161108152142&path-prefix=fr');">
  <div class="banner-content">
    <h1>Le Wagon Mougnan</h1>
    <p>Learn to code with us in Mougnan</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>



<div class="container">
<h2>Popular cities</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vignette.wikia.nocookie.net/groland/images/9/9a/Champilloulesclapettes.png/revision/latest?cb=20161108142806&path-prefix=fr');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Champillou-les-Clapettes</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/mcsqueeze">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vignette.wikia.nocookie.net/groland/images/4/4e/Montreuil-les-Sardouille.png/revision/latest?cb=20150901130908&path-prefix=fr');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Montreuil-les-Sardouille</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/Malise13">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vignette.wikia.nocookie.net/groland/images/9/92/Foudrilly.png/revision/latest/scale-to-width-down/640?cb=20170323173155&path-prefix=fr');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Foudrilly</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/RababZ">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

